/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f2f2f2;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.assistantBuble {
  @apply bg-blue-500 p-4 rounded-xl text-white font-thin flex my-2 text-left;
}
.userBuble {
  @apply bg-green-500 p-4 rounded-xl text-white font-thin flex my-2 self-end text-right;
}
.safe-height {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
